@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); */

:root {
    --ideology-tree-size: 7px;
    --button-color: #15191E;
    --button-hover-color: #0E1115;
    --button-active-color: #5B5E61;
    --background-color: #2c353d;
    --background-secondary-color: #272F38;
    --input-color: #15191E;
    --ron-green: #A0FF57;
    --ron-red: #FC734A;
    --ron-yellow: #7C6938;
}

a {
    color: #5cb2e8;
}

a:hover {
    color: #006ed4;
}

body {
    color: white;
    background-image: url(images/AllFlags.jpg);
    margin: 0;
}

* {
    font-family: "Source Sans 3", sans-serif;
    box-sizing: border-box;
}

button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
}

button:hover {
    background-color: var(--button-hover-color);
    color: white;
}

button:active {
    background-color: var(--button-active-color);
}

/* Container & Reset */
.ideologies ul {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 0;
    /*setting list indent to 0*/
}

.ideologies li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

/* The Connecting Lines */
.ideologies li::before,
.ideologies li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: var(--ideology-tree-size) solid #13171D;
    width: 50%;
    height: 13px;
}

.ideologies li::after {
    right: auto;
    left: 50%;
    border-left: var(--ideology-tree-size) solid #13171D;
}

/* Remove connectors from single child/edges */
.ideologies li:only-child::after,
.ideologies li:only-child::before {
    display: none;
}

.ideologies li:only-child {
    padding-top: 0;
}

.ideologies li:first-child::before,
.ideologies li:last-child::after {
    border: none;
}

.ideologies li:last-child::before {
    border-right: var(--ideology-tree-size) solid #13171D;
}

/* Vertical connectors from parent */
.ideologies ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: var(--ideology-tree-size) solid #13171D;
    width: 0;
    height: 20px;
}

.ideologies .btn {
    width: 8em;
}

/* Button Styling */
.btn {
    border: 3px solid var(--ron-yellow);
    background-color: var(--button-color);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    appearance: none;
    background-image: none;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: var(--button-hover-color);
    color: white;
}

.btn:active {
    background-color: var(--button-active-color);
}

.btn-allowed {
    border-color: var(--ron-green);
}

.btn-not-allowed {
    border-color: var(--ron-red);
}

.btn-half-allowed {
    border-top-color: var(--ron-green);
    border-left-color: var(--ron-green);
    border-bottom-color: var(--ron-red);
    border-right-color: var(--ron-red);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--background-secondary-color);
}

::-webkit-scrollbar-thumb {
    background: #1E242B;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-hover-color);
}

::-webkit-scrollbar-thumb:active {
    background: var(--button-active-color);
}

/*Rails, basically the country selection on the left*/
.page-container {
    padding: 12px clamp(12px, 4.2vw, 48px);

}

.rail-container {
    display: grid;
    grid-template: min-content 1fr min-content / auto minmax(0, 1fr);
    grid-template-areas:
        'header header'
        'leftRail pageContent'
        'footer footer';
    transition: grid-template-columns 0.3s;
}

.rail-container:has(.left-rail.is-hidden) {
    grid-template-columns: min-content minmax(0, 1fr);
}

footer {
    grid-area: footer;
    margin-top: 24px;
    padding: 12px 0;
    border-top: 1px solid var(--button-color);
    text-align: center;
    font-size: 0.875rem;
    color: #888;
    background-color: var(--background-secondary-color);
}

footer a {
    text-decoration: none;
}

footer li {
    list-style-type: none
}

header {
    grid-area: header;
    text-align: center;
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--button-color);
    background-color: var(--background-secondary-color);
    font-size: clamp(12px, 4.2vw, 48px);
}

.main-content {
    grid-area: pageContent;
    padding: 12px 20px;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary-color);
}

.left-rail {
    position: relative;
    width: fit-content;
    min-width: min-content;
    grid-area: leftRail;
    overflow-anchor: none;
    transition: width 0.3s, padding 0.3s;
    background-color: var(--background-color);
}

.left-rail-content *::-webkit-scrollbar-track {
    background: var(--background-color);
}

.left-rail.is-hidden {
    width: 20px;
    padding: 0;
}

.left-rail.is-hidden .left-rail-content {
    display: none;
}

.left-rail-content {
    color: white;
    background-color: var(--background-color);
}

.left-rail-toggle {
    align-items: center;
    border: none;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    color: inherit;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: flex-start;
    padding: 0 0 0 12px;
    position: absolute;
    right: 100%;
    top: 0px;
    transition: width .3s;
    width: 26px;
    z-index: 1;
}

.left-rail-toggle img {
    display: block;
    width: 12px;
    height: auto;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: transform .3s;
}

/*Search Bar*/
.search-bar {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: white;
}

.search-bar span {
    margin-right: 6px;
    font-weight: bold;
}

.search-bar input {
    background-color: var(--button-color);
    border: none;
    color: white;
    outline: none;
    min-width: 80%;
    height: 19px;
    text-align: center;
}

/*tabs*/
.tabs-wrapper {
    overflow: hidden;
    background-color: #2c353d;
}

/* Style the buttons inside the tab */
.tabs-wrapper button {
    background-color: #2c353d;
    color: white;
    float: left;
    /* border-right: 1px solid var(--button-color); */
    outline: none;
    padding: 14px 16px;
    font-size: 17px;
}

.tabs-wrapper .active {
    background-color: black;
}

/* Change background color of buttons on hover */
.tabs-wrapper button:hover {
    background-color: var(--button-hover-color);
}

/* Create an active/current tablink class */
.tabs-wrapper button:active {
    background-color: var(--button-active-color);
}

/* Style the tab content */
.tabcontent {
    padding: 6px;
    padding-right: 10px;
    border-top: none;
    overflow-y: scroll;
    max-height: 900px;
}

.tabcontent-hidden {
    display: none;
}

.tabcontent-visible {
    display: block;
}

.loading-gif {
    display: block;
    margin: 20px auto;
    width: 10em;
    height: auto;
    opacity: 0.5;
}

/*nationslist buttons*/
.nations-list {
    padding-left: 0;
    margin: 0;
    display: block;
    list-style-type: none;
}

.nations-list button {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
    background-color: var(--button-color);
    padding: 4px;
    color: white;
}

.nations-list button:hover {
    background-color: var(--button-hover-color);
}

.nations-list button:active {
    background-color: var(--button-active-color);
}

.nations-list li {
    overflow-y: auto;
    padding-left: 0;
    margin: 0;
    display: block;
    list-style-type: none;
}

.flag-image {
    display: inline-block;
    width: 36px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.flag-image img {
    width: 100%;
    height: auto;
}

/*Political Laws*/
.laws-selection {
    display: flex;
    flex-wrap: wrap;
}

.laws-selection .btn {
    flex: 1;
    margin: 2.5px;
    white-space: nowrap;
}

.laws-name {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    margin-top: 15px;
}

.laws-level {
    display: flex;
    flex-wrap: wrap;
}

.laws-level .btn {
    flex: 1;
    margin: 2.5px;
    white-space: nowrap;
}

/* Nation Overview */
.nation-overview {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nation-overview #nation-flag {
    min-width: 200px;
    width: 15vw;
    height: auto;
}

input {
    background-color: var(--button-color);
    border: none;
    color: white;
    outline: none;
}

/* Flag Overview */
.flag {
    border: 6px solid var(--button-color);
    border-collapse: collapse;
    transition: 0.3s;
    background-color: var(--background-color);
    margin-top: 20px;
}

.collapse-flag-overview-button {
    width: 100%;
    padding: 0;
    color: white;
    font: inherit;
}

.flag-overview:hover {
    background-color: var(--button-hover-color);
    color: white;
}

.flag-overview:active {
    background-color: var(--button-active-color);
}

.flag-overview {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--button-color);
    /* justify-content: space-between; */
    /* border-bottom: 2px solid var(--button-color); */
}

.flag-overview-left {
    align-items: center;
    text-align: center;
}

.dyn-flag {
    width: 150px;
    height: auto;
}

.flag-overview-left p {
    margin: 0;
}

.flag-overview-right {
    padding-left: 20px;
    justify-content: center;
    text-align: left;
}

/* Flag Contents */
.flag-contents {
    padding: 10px;
    justify-content: center;
    border-top: 6px solid var(--button-color);
    position: relative;
}

.flag-contents.is-hidden {
    display: none;
}

/* Code Output */
.output {
    overflow: auto;
    background-color: var(--background-color);
    height: 150px;
}

#copy-output-btn.output-btn-copied {
    background-color: var(--ron-green);
    color: black;
}

#copy-output-btn {
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
}

#output-text {
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
}

/* Delete Flag Button */
.delete-flag-button {
    padding: 6px;
    color: var(--ron-red);
    font-weight: bold;

    transition: max-width 0.3s;
    align-items: center;
    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.delete-flag-button:hover {
    background-color: var(--ron-red);
    color: white;
}

.delete-flag-button:active{
    background-color: #F9A189;
}

.delete-flag-button span {
    max-width: 0;
    display: inline-block;
    overflow: hidden;
    transition: 0.3s;
    white-space: nowrap;
}

.delete-flag-button:hover span {
    max-width: 7rem;
    margin-right: 5px;
}

.trash-can::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--ron-red); /* svg colour */
    -webkit-mask: url('./images/trash-can.svg') no-repeat center;
    mask: url('./images/trash-can.svg') no-repeat center;
    mask-size: contain;
    vertical-align: middle;
}

.trash-can:hover::after {
    background-color: white;
}

/* Temp class */
.ron-red{
    color: var(--ron-red);
}

.new-flag-button button, #copy-output-btn{
    font-weight: bold;
    font-size: 1.1em;
    padding: 2px 4px;
    margin: 2px 0;
}