@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --ideology-tree-size: 7px;
    --button-color: #1E242B;
    --button-hover-color: #15191E;
    --button-active-color: #000000;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background-color: #272F38;
    color: white;
    background-image: url(images/AllFlags.jpg);
}

.main-content {
    margin: auto;
    background-color: #2c353d;
    max-width: 800px;
}

/* Container & Reset */
.ideologies ul {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 0;
    /*setting list indent to 0*/
}

.ideologies li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}

/* The Connecting Lines */
.ideologies li::before,
.ideologies li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: var(--ideology-tree-size) solid #13171D;
    width: 50%;
    height: 20px;
}

.ideologies li::after {
    right: auto;
    left: 50%;
    border-left: var(--ideology-tree-size) solid #13171D;
}

/* Remove connectors from single child/edges */
.ideologies li:only-child::after,
.ideologies li:only-child::before {
    display: none;
}

.ideologies li:only-child {
    padding-top: 0;
}

.ideologies li:first-child::before,
.ideologies li:last-child::after {
    border: none;
}

.ideologies li:last-child::before {
    border-right: var(--ideology-tree-size) solid #13171D;
}

/* Vertical connectors from parent */
.ideologies ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: var(--ideology-tree-size) solid #13171D;
    width: 0;
    height: 20px;
}

.ideologies .btn {
    width: 8em;
}

/* Button Styling */
.btn {
    border: 3px solid #7C6938;
    background-color: var(--button-color);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    appearance: none;
    background-image: none;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #15191E;
    color: white;
}

.btn-allowed {
    border-color: green;
}

.btn-not-allowed {
    border-color: red;
}

.btn-half-allowed {
    border-top-color: green;
    border-bottom-color: green;
    border-left-color: #7C6938;
    border-right-color: #7C6938;
}

.btn-half-not-allowed {
    border-top-color: red;
    border-bottom-color: red;
    border-left-color: #7C6938;
    border-right-color: #7C6938;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Rails, basically the country selection on the left*/
.page-container {
    min-width: auto;
}

.rail-container {
    display: grid;
    grid-template: min-content 1fr min-content / 15rem minmax(0, 1fr);
    grid-template-areas:
        'header header'
        'leftRail pageContent'
        'footer footer';
}

footer{
    grid-area: footer;
    margin-top: 24px;
    padding: 12px 0;
    border-top: 1px solid var(--button-color);
    text-align: center;
    font-size: 0.875rem;
    color: #888;
}

header {
    grid-area: header;
    text-align: center;
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--button-color);
}
.main-content {
    grid-area: pageContent;
    width: 100%;
    height: 100%;
}

.left-rail {
    position: relative;
    width: 350px;
    padding: 0 18px;
    grid-area: leftRail;
    overflow-anchor: none;
}

.left-rail-content {
    color: white;
}

/*tabs*/
.tabs-wrapper {
    overflow: hidden;
    border: 1px solid var(--button-color);
    background-color: #2c353d;
}

/* Style the buttons inside the tab */
.tabs-wrapper button {
    background-color: #2c353d;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabs-wrapper button:hover {
    background-color: var(--button-hover-color);
}

/* Create an active/current tablink class */
.tabs-wrapper button.active {
    background-color: var(--button-active-color);
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
    max-height: calc(90vh - 3.125rem - (24px * 2));
}

.tabcontent-hidden {
    display: none;
}

.tabcontent-visible {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*nationslist buttons*/
.nations-list {
    padding-left: 0;
    margin: 0;
    display: block;
    list-style-type: none;
}

.nations-list button {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    background-color: var(--button-color);
    border: 2px solid #7C6938;
    padding: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nations-list li {
    max-height: 600px;
    overflow-y: auto;
    padding-left: 0;
    margin: 0;
    display: block;
    list-style-type: none;
}

.nations-list .flag-image {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    padding: 2px;
}

/*Political Laws*/
.laws-selection {
    display: flex;
    flex-wrap: wrap;
}

.laws-selection .btn {
    flex: 1;
    margin: 5px;
    white-space: nowrap;
}